/AutoCreateAnythings/AutoCreateAnythings.sln.DotSettings.user
/AutoCreateAnythings/AutoCreateAnythings.sln.GhostDoc.xml
/AutoCreateAnythings/packages
/AutoCreateAnythings/JYM.Service/obj
/AutoCreateAnythings/JYM.Service/bin
/AutoCreateAnythings/JYM.Model/obj
/AutoCreateAnythings/JYM.Model/bin
/AutoCreateAnythings/JYM.Lib/obj
/AutoCreateAnythings/JYM.Lib/bin
/AutoCreateAnythings/JYM.DAL/obj
/AutoCreateAnythings/JYM.DAL/bin
/AutoCreateAnythings/JYM.AutoSystem/bin
/AutoCreateAnythings/JYM.AutoSystem/obj
/AutoCreateAnythings/.vs
/AutoCreateAnythings/_ReSharper.Caches
